<svg class="circles" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4136 537.72">
    <ellipse class="circle" id="cc" data-index="1" cx="2068" cy="268.86" rx="2068" ry="268.86" style="fill:#e2e5e8;" />
    <ellipse class="circle" id="cc1" data-index="2" cx="2068" cy="218.86" rx="1415.77" ry="184.06" style="fill:#c4ccd1;" />
    <ellipse class="circle" id="cc2" data-index="3" cx="2068" cy="184.86" rx="862" ry="112.07" style="fill:#a7b2b9;" />
    <ellipse class="circle" id="cc3" data-index="4" cx="2068" cy="160.86" rx="399.91" ry="51.99" style="fill:#8999a2" />
    <ellipse class="circle" id="cc4" data-index="5" cx="2068" cy="152.86" rx="184.6" ry="24" style="fill:#6c7f8b" />
</svg>
